html{
    font-family: 'Roboto', sans-serif;
}

nav {
    height: 51px;
background-color: #212121;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style: none;  /* убирает точки в списке */
}

.menu .menu_link {
    font-size: 15px;
    /* line-height: 68px; впринципе нужен только для многострочной верстки */
    font-weight: 300;
    color: #ffffff;
    text-decoration: none;
}

.menu .menu_item {
    border-right: 2px dotted white;
    padding-right: 47px;
}